// ----- public navigation ----- //
.navp {
	background-color: rgba($color-white, 1);
	position: fixed;
	display: block;
	z-index: 499;
	top: 0;
	height: $navp-height;
	width: 100%;
	box-shadow: $shadow-strong;

	&--content {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 0 6rem;

		@include respond(tab-land) {
			padding: 0 3.5rem;
		}
	}

	&__logo {
		height: 100%;
		display: flex;
		align-items: center;

		&--content {
			height: 60%;
		}
	}

	&__menu {
		display: flex;
		align-items: center;

		&--item {
			padding: 0 3rem;
		}

		&--link {
			color: $color-grey-7;
			transition: color 0.2s ease-out;
			cursor: pointer;

			&:hover {
				color: $color-grey-8;
			}
		}
	}
}

// ----- main navigation (sidebar) ----- //
.navm {
	background-color: rgba($color-white, 1);
	display: block;
	position: fixed;
	z-index: 496;
	top: 0;
	left: 0;
	height: 100%;
	width: $navm-width;
	box-shadow: $shadow-strong;

	&--content {
		height: 100%;
		width: 100%;
	}

	&__logo {
		background-color: rgba($color-white, 1);
		position: relative;
		display: block;
		z-index: 498;
		width: 100%;
		height: auto;
		padding: 4rem 0;
		margin-bottom: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;

		&--content {
			width: 50%;
		}
	}

	&__menu {
		background-color: rgba($color-white, 1);
		position: relative;
		display: block;
		z-index: 498;
		width: 100%;

		&__item {
			width: 100%;
			display: flex;
			align-items: center;
			padding: 1.5rem 4rem;
			cursor: pointer;
			transition: all 0.25s ease;

			&:hover,
			&--active {
				background-color: rgba($color-grey-10, 0.75);
			}

			&:hover &--icon,
			&:hover &--text,
			&--active svg,
			&--active p {
				fill: $color-primary-2;
				color: $color-primary-2;
			}

			&--icon {
				fill: $color-grey-8;
				width: 2.5rem;
				height: 2.5rem;
				margin-right: 3rem;
				transition: all 0.25s ease;
			}

			&--text {
				color: $color-grey-7;
				font-size: $font-size-default;
				font-weight: 600;
				transition: all 0.25s ease;
			}
		}
	}

	&__foot {
		// background-color: rgba($color-black, 0.1);
		position: absolute;
		display: block;
		z-index: 497;
		bottom: 0;
		width: 100%;
		padding: 3rem 0;
		text-align: center;

		&__item {
			width: 100%;
			display: flex;
			align-items: center;
			padding: 1.5rem 4rem;
			cursor: pointer;
			transition: all 0.25s ease;

			&:hover &--icon,
			&:hover &--text {
				fill: $color-grey-6;
				color: $color-grey-6;
			}

			&--icon {
				fill: $color-grey-7;
				width: 2.5rem;
				height: 2.5rem;
				margin-right: 3rem;
				transition: all 0.25s ease;
			}

			&--text {
				color: $color-grey-7;
				font-size: $font-size-default;
				font-weight: 500;
				transition: all 0.25s ease;
			}
		}

		&--copy {
			margin-top: 3.5rem;
			font-size: 1.5rem;
			color: $color-grey-8;
		}
	}
}
