.form {
	background-color: rgba($color-white, 1); //dev
	width: 62rem;
	margin: 2rem auto;
	padding: 6.5rem 9rem;
	box-shadow: $shadow-light;
	border-radius: 1.75rem;
	transition: all 0.35s ease;

	&:hover {
		box-shadow: $shadow-mid;
	}

	&--content {
		text-align: center;
	}

	& h2 {
		margin-bottom: 5rem;
	}

	&__group {
		margin-bottom: 2.5rem;

		& input {
			margin: 0 auto;
			font-size: 1.7rem;
			font-family: inherit;
			font-weight: 400;
			padding: 1.5rem 2rem;
			border-radius: 6px;
			background-color: rgba($color-grey-9, 0.6);
			border: none;
			border-bottom: 3px solid transparent;
			width: 90%;
			max-width: 50rem;
			display: block;
			color: inherit;
			transition: all 0.2s ease;

			@include respond(phone) {
				width: 80%;
			}

			@include respond(phone-med) {
				width: 95%;
			}

			&:focus {
				outline: none;
				box-shadow: $shadow-focus;
				border-bottom: 3px solid $color-primary-main;
			}

			&:focus:invalid {
				outline: none;
				box-shadow: $shadow-focus;
				border-bottom: 3px solid $color-red-2;
			}

			&::-webkit-input-placeholder {
				color: rgba($color-grey-5, 0.75);
			}
		}

		&__label {
			width: 90%;
			max-width: 50rem;
			margin: 0 auto;
			transform: translateY(-8.5rem);
			transition: all 0.3s;

			@include respond(phone) {
				width: 80%;
			}

			@include respond(phone-med) {
				width: 95%;
			}

			& label {
				font-size: 1.5rem;
				font-weight: 500;
				margin-left: 2rem;
				display: block;
				color: $color-grey-7;
				text-align: left;
			}
		}

		& input:placeholder-shown ~ &__label {
			opacity: 0;
			visibility: hidden;
			transform: translateY(-5rem);
		}
	}

	&--btn {
		margin-top: 1rem;
	}
}
