$list-height: 85rem;

.list {
	background-color: rgba($color-white, 1);
	display: block;
	border-radius: 2rem;
	box-shadow: $shadow-light;
	width: 100%;
	// height: 100%; // does not work for some reason
	max-height: $list-height;

	@include respond(big-desk) {
		max-width: 120rem;
	}

	&--mid {
		max-width: 50rem;
	}

	&--auto-height {
		& > *:first-child {
			height: auto !important;
		}
	}

	&--content {
		padding: 4rem 0;
		height: $list-height;
	}

	&__title {
		width: 100%;
		text-align: center;
		margin-bottom: 1.75rem;
	}

	&__items-main {
		display: block;
		height: 94%;
		overflow-y: scroll;

		&--has-title {
			height: 86% !important;
		}
	}

	&__item--special {
		padding: 0.5rem 3.5rem;
		margin-bottom: 1.75rem;
		display: flex;
		align-items: center;

		& p {
			color: $color-grey-7;
			text-transform: uppercase;
			font-weight: 600;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 1.25rem 3.5rem;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover,
		&:focus,
		&:active {
			background-color: rgba($color-grey-10, 1);
		}

		&--no-hover {
			cursor: default !important;

			&:hover,
			&:focus,
			&:active {
				background-color: initial !important;
			}
		}

		&--main {
			display: flex;
			align-items: center;
			flex-grow: 1;
		}

		&--checkbox {
			display: none;

			&--special {
			}

			&__label {
				width: 1.75rem;
				height: 1.75rem;
				margin-right: 3rem;
				cursor: pointer;

				&--icon {
					fill: $color-black;
					width: 100%;
					height: 100%;
				}
			}

			&--icon {
				width: 1.75rem;
				height: 1.75rem;
				margin-right: 3rem;
				cursor: pointer;
				fill: $color-black;
			}
		}

		&--code {
			min-width: 12rem;
		}

		&--name-last {
			min-width: 22.5rem;
		}

		&--name-first {
			min-width: 22.5rem;
		}

		&--group {
			min-width: 15rem;
		}

		&--exam {
			min-width: 25rem;
		}

		&--date {
			min-width: 15rem;
		}

		&--full-width {
			width: 100%;
			margin: 2rem auto;
			text-align: center;
		}

		&--row {
			&--1,
			&--2,
			&--3,
			&--4,
			&--5,
			&--6,
			&--7,
			&--8 {
				font-weight: 600;
				margin-right: 1.5rem;
			}

			&--1 {
				min-width: calc(1 * 12.75%);
			}

			&--2 {
				min-width: calc(2 * 12.75%);
			}

			&--3 {
				min-width: calc(3 * 12.75%);
			}

			&--4 {
				min-width: calc(4 * 12.75%);
			}

			&--5 {
				min-width: calc(5 * 12.75%);
			}

			&--6 {
				min-width: calc(6 * 12.75%);
			}

			&--7 {
				min-width: calc(7 * 12.75%);
			}

			&--8 {
				min-width: calc(8 * 12.75%);
			}
		}
	}
}

// ----- specific scrollbar ----- //
.list__items-main::-webkit-scrollbar {
	width: 15px;
}

.list__items-main::-webkit-scrollbar-track {
	border-radius: 50rem;
	background: $color-grey-9;
}

.list__items-main::-webkit-scrollbar-thumb {
	border-radius: 50rem;
	background: $color-grey-3;
}
