.reports {
    background-color: rgba($color-white, 1);
	display: block;
	border-radius: 2rem;
	box-shadow: $shadow-light;
	width: 100%;
    padding: 4rem 0;

	@include respond(big-desk) {
		max-width: 120rem;
	}

    &__heading {
        width: 85%;
        margin: 0 auto;
        text-align: center;

        &--sub {
            font-size: 2.5rem;
            line-height: 2.5rem;
            color: $color-grey-7;
            font-weight: 600;
        }
    }
}