@keyframes loadingFun {
	0% {
		border-radius: 0%;
		transform: scale(1.15) rotate(0);
	}

	15% {
		border-radius: 0%;
		transform: scale(1.15) rotate(0);
	}

	50% {
		border-radius: 50%;
		transform: scale(1) rotate(360deg);
	}

	55% {
		border-radius: 50%;
		transform: scale(1) rotate(360deg);
	}

	100% {
		border-radius: 0%;
		transform: scale(1.15) rotate(720deg);
	}
}

.preloader {
	display: flex;
	z-index: 1500;
	pointer-events: none;
	border-radius: inherit;

	&--main {
		position: fixed;
		height: 100vh;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	&--sub {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 10rem;
	}

	&--yellow {
		background-color: rgba($color-primary-4, 1);
	}

	&--white {
		background-color: rgba($color-white, 1);
	}

	&--white-1 {
		background-color: rgba($color-white-1, 1);
	}

	&__content {
		width: 5rem;
		height: 5rem;
		border-radius: 100%;
		animation: loadingFun 2.75s $bezier-2 infinite forwards;

		&--small {
			width: 3.5rem !important;
			height: 3.5rem !important;
		}

		&--black {
			background-color: rgba($color-black, 1);
		}

		&--yellow {
			background-color: rgba($color-primary-4, 1);
		}
	}
}
