// ---------- EFFECTS ---------- //
$shadow-strong: 0 0 1.5rem 0rem rgba(0, 0, 0, 0.1);
$shadow-dark: 0 0 4rem 2rem rgba(0, 0, 0, 0.125);
$shadow-mid: 0 0 3rem 0rem rgba(0, 0, 0, 0.08);
$shadow-focus: 0 0 2rem 0rem rgba(0, 0, 0, 0.08);
$shadow-light: 0 0 4.5rem 0rem rgba(0, 0, 0, 0.035);

$bezier-1: cubic-bezier(0.83, 0.01, 0.28, 1);
$bezier-2: cubic-bezier(0.4, 0.25, 0.3, 1);

// ---------- LAYOUT ---------- //
$navp-height: 8rem;
$footp-height: 16rem;

$navm-width: 25rem;
$navt-height: 8rem;

// ---------- FONTS ---------- //
// $line: 1px solid #f4f2f2;
$font-primary: "Nunito", sans-serif; // 300, 400, 600, 700
$font-display: "Nunito Sans", sans-serif; // 400, 600, 700
$font-lineheight-default: 2.25rem;
$font-size-nav: 1.45rem;
$font-size-default: 1.8rem;
$font-size-med: 1.55rem;
$font-size-small: 1.3rem;
$font-size-default-phone: 2rem;
$font-lineheight-default-phone: 2.5rem;

// ---------- BASE COLORS ---------- //
$color-white-absolute: #fff;
$color-black-absolute: #000;
$color-black: #202020; //111111;
$color-black-light: #303030; //111111;
$color-white: #fdfdfd;
$color-white-1: #f6f6f6;
$color-white-2: #eef3f4;
$color-white-3: #ecf6fe;

$color-grey-1: #2f2424;
$color-grey-2: #272626;
$color-grey-3: #3c3737;
$color-grey-4: #494847;
$color-grey-5: #777777;
$color-grey-6: #909090;
$color-grey-7: #b7b7b7;
$color-grey-8: #d3d3d3;
$color-grey-9: #e5e5e5;
$color-grey-10: #f4f4f4;
$color-grey-11: #f7f8fb;

$color-primary-1: #bc7f13;
$color-primary-2: #bab220;
$color-primary-3: #cec22e;
$color-primary-4: #f2f24c;
$color-primary-main: #d8d441;

$color-red-0: #c0392b;
$color-red-1: #bc4242;
$color-red-2: #f46969;
$color-green-1: #2bba73;
$color-green-2: #33e28a;
$color-purple-1: #424c89;
$color-purple-2: #1175ed;
$color-blue-1: #6f6fef;
$color-blue-2: #0f8fef;
$color-blue-3: #0bb2f4;
$color-celeste-1: #008fa9;
$color-celeste-2: #00b9da;
$color-celeste-3: #00d8fc;

$color-utils-blue: #0f8fef;
$color-utils-purple: #424c89;
$color-utils-celeste: #008fa9;
$color-utils-yellow: #d8d441;
$color-utils-green: #2bba73;
$color-utils-red: #bc4242;

$color-text-primary: #202020;
$color-text-secondary: #909090;
$color-text-tertiary: #d3d3d3;
$color-selection: rgba($color-primary-3, 0.5);
