.school__main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
	grid-template-rows: repeat(auto-fit, 9rem);
	grid-gap: 4rem;

	&--img {
		height: auto !important;
		width: auto !important;
		margin: 0 !important;
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}
}

.school__info {
	grid-column: span 3;
	background-color: $color-white;
	box-shadow: $shadow-light;
	border-radius: 1.5rem;
	width: 100%;
	height: 9rem;
	padding: 2.5rem 4rem;
	display: flex;
	justify-content: center;
	align-items: center;

	&--icon {
		width: 4rem;
		height: 4rem;
		fill: $color-black-light;
		margin-right: 2rem;
	}

	&--text {
		color: $color-black;
		font-weight: 600;
	}
}

.school__form {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	grid-template-rows: repeat(17.5rem);
	grid-gap: 4rem;
	margin-top: 4rem;

	&--upload {
		grid-area: 1 / 1 / 3 / 1;
	}
}
