*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@include respond(tab-land) {
		font-size: 56.25%;
	}

	@include respond(tab-port) {
		font-size: 45%;
	}
}

body {
	box-sizing: border-box;
	min-height: 100vh;
	position: relative;
}

a {
	text-decoration: none;
	list-style: none;
}

ul {
	list-style: none;
}

input,
textarea,
select {
	font-family: inherit;
}

::selection {
	background-color: $color-selection;
	color: $color-black;
}

.main {
	background-color: rgba($color-white-1, 1);
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;

	&--public {
		padding-top: calc(#{$navp-height} + 6rem);
		padding-bottom: calc(#{$footp-height} + 6rem);
	}

	&--private {
		padding: 4rem;
		padding-left: calc(#{$navm-width} + 4rem);
	}

	&--content {
		width: 100%;
		height: 100%;
		position: relative;
	}
}

// ----- general scrollbar ----- //
/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 50rem;
	background: $color-grey-9;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 50rem;
	background: $color-grey-7;
}
